* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif
}

.img {
    background-image: url(media/bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(5px);
    filter: blur(5px);
    opacity: 0.9;
}

.navsection {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, white 75%, #fbc531 25%);
    position: fixed;
    z-index: 0;
    border-bottom: 1px solid #353b48;
}

.logo {
    width: 40%;
    color: white;
    background-image: linear-gradient(black 40%, #353b48 60%);
    padding-left: 100px;
    box-sizing: border-box;
}

.logo h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: lright 2s linear infinite;
    animation-direction: alternate;
}

@keyframes lright {
    from {
        padding-left: 40px;
    }
    to {
        padding-right: 40px;
    }
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}


/* nav a:first-child{
        color:blue;
    } */

nav a:before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #fbc531;
    transition: all 0.4s linear;
}

nav a:hover:before {
    width: 100%;
}

a:hover {
    color: black;
    /* background-color: #fbc531; */
}

.box {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px solid #fbc531;
    background-color: white;
    padding: 3%;
    box-sizing: border-box;
    height: 35%;
    width: 65%;
    margin-left: 18%;
    margin-top: 15%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.intro {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-right: 0%;
    margin-top: 0%;
    color: blacke;
    font-family: 'Merienda', cursive;
}

.linel {
    border-top: 4.5px solid yellow;
    width: 400px;
    position: absolute;
    margin-left: 12%;
    margin-top: 2.5%;
}

.headbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fbc531;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    height: 50px;
    width: 250px;
    margin-left: 42%;
    margin-top: 5%;
}

.recepyhead {
    color: black;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    font-family: 'Girassol', cursive;
    word-spacing: 10px;
    font-size: 40px;
    font-size: 50px;
}

.liner {
    border-top: 4.5px solid yellow;
    width: 400px;
    margin-top: 2.5%;
    margin-left: 63%;
    position: absolute;
}

.res {
    color: green !important;
}